<!DOCTYPE HTML>
<html>
    <head>
        <title>Env Tweets Near You</title>
    </head>
    <body onload="getLocation()">
        <div style="text-align:center">
            <h1>wau</h1>
        </div>
        <div class="tweets" id="tweets">
            <p id = "geo"></p>
        </div>
        <script src="js/geo.js"></script>
    </body>
</html>